{% extends 'base.html.twig' %}

{% block body %}

    <h1>Post creation</h1>


{% include 'post/_form.html.twig' %}


    <ul>
        <li>
            <a href="{{ path('post_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
